body    {background-image: url('sfondo3.jpeg');
        background-attachment: fixed;
        background-repeat:repeat;
        background-color: #FFFFFF;
        color: #404040;
        max-width: 1024px;
        font-size: 11pt;
        font-family: Georgia, Garamond, serif;}

a   {color : #A4A400}

h2,h1{  color:#A4A400;
    background-color:#F0F0F0;
    font-family: "Lucida Sans Unicode", "Helvetica" , "Arial" , sans-serif;
        letter-spacing: 0.25em;
        text-decoration: underline;}
 
h1  {text-align: center;
    font-size: 22pt;
    font-weight: bold;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;}

.img    {width: 240px;
        height: 240px; 
        float : right;}

h2 {text-align: left;
    font-size: 18pt;}




